


.jumbotron {
    margin-top: 20px;
    background-image: url(../img/RiosLogo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: fantasy;


  }

.row {
  margin: 50px;
  
}
.footer {

  font-family: fantasy;
  font-size: 35px;
  color: rgb(228, 192, 192);
  background-size: cover;
  margin: 150px;
  padding: 5px;
  
}